{% extends "base.html" %}
{% load static %}
{% block title %} Home | Gastos {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'gastos/css/home/main.css' %}">
<div class="container mt-5 pt-4">
    <h2 class="mb-3">Todos os gastos - Mensais</h2>
    <div class="row mb-3 justify-content-center align-items-center container-btn">
        <div class="col-1">
            <div class="btn btn-dark prev">&lsaquo;</div>
        </div>
        <div class="col-2">
            <h2 class="date">{{data}}</h2>
        </div>
        <div class="col-1">
            <div class="btn btn-dark next">&rsaquo;</div>
        </div>
    </div>
    <div>
        <div class="row ">
            <div class="col"><h4>Titulo despesa</h4></div>
            <div class="col"><h4>Tipo de despesa</h4></div>
            <div class="col"><h4>Data de entrada</h4></div>
            <div class="col"><h4>Valor R$</h4></div>
            <div class="col"><h4>Ações</h4></div>
        </div>
        {% for gasto in gastos %}
        <div class="row mt-1 p-1 align-items-center border rounded">
            <div class="col">{{gasto.titulo_entrada}}</div>
            <div class="col">{{ gasto.get_tipo_entrada_display }}</div>
            <div class="col">{{gasto.data_entrada}}</div>
            {% if gasto.tipo_entrada == "D" %}
                <div class="col text-danger">R$ -{{gasto.valor_despesa}}</div>
            {% else %}
                <div class="col text-success">R$ {{gasto.valor_despesa}}</div>
            {% endif %}
            <div class="col">
                <a href="{% url 'editar-gasto' gasto.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'deletar-gasto' gasto.id %}" class="btn btn-danger">Excluir</a>
            </div>
        </div>
        {% endfor%}
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                {% if total > 0 %}
                    <h4 class="border border-success p-2 rounded text-success">Total: R${{total}}</h4>
                {% elif total < 0 %}
                    <h4 class="border border-danger p-2 rounded text-danger ">Total: R${{total}}</h4>
                {% else %}
                    <h4 class="border p-2 rounded">Total: R${{total}}</h4>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<script src="{% static 'gastos/js/index.js' %}"></script>


{% endblock %}